@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
     <script src="~/js/br.js"></script>
    <link href="~/css/stylesheet1.css" rel="stylesheet" />
    <title>病人管理</title>
  
</head>
<body>
   

    <div id="table">

        <div class="add">
            <input type="text" placeholder="病人姓名" v-model="obj.a1" />
            <input type="text" placeholder="病人性别" v-model="obj.a2" />
            <input type="date" placeholder="就诊时间" v-model="obj.a3" />
            <input type="text" placeholder="病人所属科室" v-model="obj.a4" />
            <input type="text" placeholder="病人状况" v-model="obj.a5" />
            <input type="text" placeholder="病人主治医生" v-model="obj.a6" />
            <input type="text" placeholder="病人房间号" v-model="obj.a7" />
            <input type="text" placeholder="病人床位号" v-model="obj.a8" />

            <!------------------------->
            <button v-on:click="add()">新增</button>
            
        </div>

    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>病人姓名</th>
                <th>病人性别</th>
                <th>就诊时间</th>
                <th>病人所属科室</th>
                <th>病人状况</th>
                <th>病人主治医生</th>
                <th>病人房间号</th>
                <th>病人床位号</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        
            <tr v-for="(item,i) in items" :key="i">
                    <td >{{item.a1}}</td>
                    <td>{{item.a2}}</td>
                    <td>{{item.a3}}</td>
                    <td>{{item.a4}}</td>
                    <td>{{item.a5}}</td>
                    <td>{{item.a6}}</td>
                    <td>{{item.a7}}</td>
                    <td> {{item.a8}}</td>
                    <td>
                <span class="delete" v-on:click="dei(i)">删除</span>
                <span class="edit" v-on:click="edit(item)">编辑</span>
                   </td>
            </tr>
        </tbody>
    </table>
  <div id="layer" v-if="layer">
      <div class="mask">
        <div class="title">
   编辑
    <span v-on:click="layer = false">x</span>
             </div>
          <div class="content">
                    <input type="text" placeholder="病人姓名" v-model=" editItems.a1" />
                    <input type="text" placeholder="病人性别" v-model=" editItems.a2" />
                    <input type="date" placeholder="就诊时间" v-model=" editItems.a3" />
                    <input type="text" placeholder="病人所属科室" v-model=" editItems.a4" />
                    <input type="text" placeholder="病人状况" v-model=" editItems.a5" />
                    <input type="text" placeholder="病人主治医生" v-model=" editItems.a6" />
                    <input type="text" placeholder="病人房间号" v-model=" editItems.a7" />
                    <input type="text" placeholder="病人床位号" v-model=" editItems.a8" />
                    <button v-on:click="update()">更新</button>
                <button v-on:click="layer=false">取消</button>
          </div>
      </div>
  </div>
    </div>
 
</body>
</html>